#title {
  background-color: #FFBF00;
}

li {
  padding: 5px;
  margin: 5px;
  background-color: #00ffff;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

#burger {
  width: 110px;
}